::-webkit-scrollbar {
  width: 0px; }

@keyframes fadeMessage {
  0% {
    opacity: 0;
    height: 0px;
    line-height: 0px; }
  35% {
    opacity: 0;
    height: 100%;
    line-height: 100%; }
  100% {
    opacity: 1;
    height: 100%;
    line-height: 100%; } }
@keyframes fadeColor {
  50% {
    background-color: red; } }
@keyframes fadeIn {
  from {
    opacity: 0;
    top: 0%; }
  to {
    opacity: 1;
    top: 8%; } }
@keyframes fadeOut {
  from {
    opacity: 1;
    top: 8%; }
  to {
    opacity: 0;
    top: 0%; } }
html {
  overflow: scroll;
  overflow-x: hidden; }

body {
  background: #263238; }

#Welcome_Message {
  left: 27%;
  width: 900px; }

#log-in-box {
  left: 37.50%;
  width: 900px; }

#register-box {
  left: 26.5%;
  width: 900px; }

#alert-message {
  visibility: hidden;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 4;
  left: 50%;
  bottom: 30px;
  font-size: 17px; }

#alert-message.faded {
  visibility: visible;
  animation: alertFadeIn 0.5s, alertFadeOut 0.5s 2.5s; }

#feedback-box {
  position: fixed;
  width: 300px;
  height: 210px;
  left: 79.5%;
  bottom: 65px;
  padding: 10px; }

.feedback-icon {
  transition: opacity 0.3s;
  opacity: 0.5;
  position: fixed;
  left: 95%;
  bottom: 20px; }

.feedback-icon:hover {
  transition: opacity 0.3s;
  opacity: 1; }

.profile-link {
  font-weight: bold;
  font-size: 14px; }

.profile-link:hover {
  box-shadow: 1px 1px 3px #32434b; }

.chat-image {
  border: 1px solid #32434b;
  width: 37px;
  height: 37px; }

.lr-slide {
  overflow: hidden;
  position: relative; }

.register-slide {
  transition: 0.4s ease; }

.register-slide:hover {
  right: -200px; }

.register-slide.faded {
  animation: fadeLeft 1s;
  animation-fill-mode: forwards; }

.chat-link.joined {
  -webkit-text-fill-color: aqua; }

.main-body {
  background-color: #32434b;
  height: 100vh; }

.modal-box {
  display: none;
  background-color: #DBE0E6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  z-index: 999;
  animation: fadeOut 1s;
  animation-fill-mode: forwards; }

.modal-box.faded {
  animation: fadeIn 1s;
  animation-fill-mode: forwards; }

.message-item {
  animation: fadeMessage 1s;
  animation-fill-mode: forwards; }

.main {
  height: 100vh; }
