{% extends "qchat/layout.html" %}

{% block content %}
{% for chatroom in chatroom_information %}
    <div room-id="{{ chatroom.id }}" class="jumbotron chatroom">
        <h1 class="display col-xs-6">{{ chatroom.title }}</h1>

        <div class="row">
            <div room-id="{{ chatroom.id }}" class="col-md-10 chatroom">
                <ul room-id="{{ chatroom.id }}" class="list-group list-group-flush chatroom-messages">
                    {% for message in chatroom.messages %}
                    <li class='list-group-item py-2 message-item'>
                        <img class="align-self-end mr-1 chat-image" src="{% if message.user.profile.profile_pic %} {{ message.user.profile.profile_pic.url }} {% else %} {{ default }} {% endif %}" alt="{{ message.user }}'s Profile Image">
                        <span class="profile-link">{{ message.user }}</span>: {{ message.message }}
                        <span class='float-right font-italic'>
                            <small>{{ message.date_written|date:"f A" }}</small>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                <form onsubmit="event.preventDefault();">
                    <div class="form-group container pt-2">
                        <div class="row">
                            <div class="col-9 px-0">
                                <input room-id="{{ chatroom.id }}" class="form-control channel-message" type="text"/>
                            </div>
                            <div class="col-1 px-0">
                                <button room-id="{{ chatroom.id }}" class="form-control" type="button">😃</button>
                            </div>
                            <div class="col-2 px-0">
                                <button room-id="{{ chatroom.id }}" class="form-control channel-message-send btn btn-secondary" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="content-section col-xs-1 position-relative">
                <ul room-id="{{ chatroom.id }}" class="list-group chatroom-members">

                    {% for member in chatroom.connected %}
                        <li name="{{ member.user.username }}" room-id="{{ chatroom.id }}" class="list-group-item">{{ member.user.username }}</li>
                    {% endfor %}
                </ul>   
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

